<main class="l-col-21-24 l-col-24-push-3">

            <article class="main-content page-no-grid-content standards introduction-page">

          <div class="fixed-bg gray-bgc" id="standards">
    <h1>Standards</h1>
</div>

<div class="inner-grid introduction-section white-bgc">
    <div class="ms-row">
        <div class="col-1-2 centered">
            
            <p>
            Standards are the foundational design principles upon which all other elements rely that behave in a predictable way and look consistent across the all Microsoft sites. They help you start building your site quickly and easily. Unlike components, which can be customized to an individual site, standards should be incorporated exactly as they are shown here.
            </p>

            <p>
            There are 5 core standards that are required on all Microsoft.com sites. Additional standards are available if you have need for them within your page designs. 
            </p>
            <ul>
                <li>
                    Grid 
                </li>
                <li>
                    Color 
                </li>
                <li>
                    Typography 
                </li>
                <li>
                    Iconography 
                </li>
                <li>
                    Header &amp; Footer 
                </li>
            </ul>

        </div>
    </div>
</div>

 
</article>

            
        </main>