<main class="l-col-21-24 l-col-24-push-3">

                        <article class="main-content page-no-grid-content  introduction-page">

                    <article class="main-content page-content">

    <div class="center-type homebg">


                    <div class="homepage-overlay">
                        <header>
                        <h1 class="headline white" title="The name Picchu was inspired from Machu Picchu in Peru. Machu Picchu is an ancient Inca royal estate built in the 15th century which has lasted the test of time.">Picchu</h1>
                        <h2 class="subheader white">One Marketing Web Style Guide</h2>
                        </header>
                    </div>

    </div>

    <div class="ms-grid full introduction-section center-type white-bgc">
        <div class="ms-row">
            <div class="col-1-2 centered">
                <span class="icon icon-microsoft-symbolonly"></span>
                <p>
                Inspired by the evolution of the Microsoft design language, the design tools, UX guidance, and developer tools found here will help you create a Microsoft marketing site that looks and feels like it belongs in the Microsoft.com network, delivering on our promise of One Microsoft—a consistent, trustworthy experience for our users.
                </p>
            </div>
        </div>
    </div>


    <div class="fixed-bg gray-bgc" id="tools-to-help-you-do-more">
        <h2>Tools to help you do more</h2>
    </div>

    <div class="ms-grid full introduction-section center-type white-bgc">
        <div class="ms-row">
            <div class="col-1-2 centered">
                <span class="icon icon-color-lightpurple"></span>
                <p>
                We’ve gathered resources and tools to get you started, including ready-to-use standards and components. You’ll also find design principles to consider as you plan your site’s look and feel. Around these core elements and philosophies, we’ve left plenty of room for you to create innovative web experiences for Microsoft products and services.
                </p>
            </div>
        </div>
    </div>

    <div class="fixed-bg gray-bgc" id="who-its-for">
        <h2>Who it's for</h2>
    </div>

    <div class="ms-grid full introduction-section center-type white-bgc">
        <div class="ms-row">
            <div class="col-1-2 centered">
                <span class="icon icon-globe-pink"></span>
                <p>
                This style guide and UX framework is intended for anyone working on a Microsoft.com site or page, including designers, site managers, marketing managers, program managers, and developers, subsidiaries, and agencies. Use this resource when you’re designing or updating any site that’s hosted on Microsoft.com, including product marketing sites.
                </p>
            </div>
        </div>
    </div>


    <div class="fixed-bg gray-bgc" id="help-make-it-better">
        <h2>Help make it better</h2>
    </div>

    <div class="ms-grid full introduction-section center-type white-bgc">
        <div class="ms-row">
            <div class="col-1-2 centered">
                <span class="icon icon-group-purple"></span>
                <p>
                Like the web, these guidelines are living and continually evolving to get better with each use. We encourage you to reach out to help us make the information found here better, so that our vision of One Microsoft online continues to happen. Check back often to keep updated on the latest guidance.
                </p>
            </div>
        </div>
    </div>
</article>


 
</article>

                        
                </main>