<div class="category-header darkgray-bgc">
    <section class="ms-grid full">
        <div class="ms-row">
            <div class="col-1-2 tal nb">
                <h3 class="category-label">
                    Picchu
                </h3>
            </div>
            <div class="col-1-2 tar nb">
                <button id="fullscreen">
                    Fullscreen
                </button>
            </div>
        </div>
    </section>
</div>