<nav class="l-col-3-24 nav-blade gray-d3-bgc" id="home-nav-blade">
                    <a href="/">
    <div class="icon-home icon">home</div>
</a>

 <ul class="home-nav-list nav-list">
    <li>
        <a class="nav-page-lvl-1 " href="/getting-started/index.html">Getting Started</a>
    </li>            
    <li>
        <span class="nav-page-lvl-1 accordion">Standards</span>
        <ul class="nav-list">
            <li>
                <a class="nav-page-lvl-2 " href="/standards/index.html">Overview</a>
            </li>
            <li>
                <a class="nav-document-lvl " href="/standards/grid/">Grid</a>
            </li>
            <li>
                <a class="nav-document-lvl " href="/standards/color/">Color</a>
            </li>
            <li>
                <a class="nav-document-lvl " href="/standards/typography/">Typography</a>
            </li>
            <li>
                <a class="nav-document-lvl " href="/standards/icons/">Icons</a>
            </li>
            <li>
                <a class="nav-document-lvl " href="/standards/images/">Images</a>
            </li>
            <li>
                <a class="nav-document-lvl " href="/standards/spacing/">Spacing</a>
            </li>
            <li>
                <a class="nav-document-lvl " href="/standards/header/">Header</a>
            </li>
            <li>
                <a class="nav-document-lvl " href="/standards/footer/">Footer</a>
            </li>
            <li>
                <a class="nav-document-lvl " href="/standards/hit-target/">Hit target</a>
            </li>
            <li>
                <a class="nav-document-lvl " href="/standards/accessibility/">Accessibility</a>
            </li>
        </ul>      
    </li>
    <li>
        <span class="nav-page-lvl-1 accordion ">Components</span>
        <ul class="nav-list is-collapsed" style="">
            <li>
                <a class="nav-page-lvl-2 " href="/components/index.html">Overview</a>
            </li>
            <li>
                <span class="nav-collection-lvl accordion ">Atoms</span>
                <ul class="nav-list is-collapsed" style="">
                    <li>
                        <a class="nav-document-lvl " href="/components/atoms/accordion/">Accordion</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/atoms/action-trigger/">Action trigger</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/atoms/alt-text/">Alt text</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/atoms/back-to-top/">Back to top</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/atoms/breadcrumbs/">Breadcrumbs</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/atoms/buttons/">Buttons</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/atoms/checkbox/">Checkbox</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/atoms/data-validation/">Data validation</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/atoms/dropdown-menu/">Dropdown menu</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/atoms/favicon/">Favicon</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/atoms/hyperlinks/">Hyperlinks</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/atoms/legal-disclaimer/">Legal disclaimer</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/atoms/lists/">Lists</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/atoms/pagination/">Pagination</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/atoms/password-box/">Password box</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/atoms/progress-indicator/">Progress Indicator</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/atoms/quotes/">Quotes</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/atoms/radio-button/">Radio button</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/atoms/rating-stars/">Rating stars</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/atoms/scrollers/">Scrollers</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/atoms/search-box/">Search box</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/atoms/show-more/">Show more</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/atoms/text-box/">Text box</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/atoms/toggle-switch/">Toggle switch</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/atoms/tooltip/">Tooltip</a>
                    </li>
                </ul>
            </li>
            <li>
                <span class="nav-collection-lvl accordion ">Molecules</span>
                <ul class="nav-list is-collapsed" style="">
                    <li>
                        <a class="nav-document-lvl " href="/components/molecules/bar-chart/">Bar chart</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/molecules/binary-rating/">Binary rating</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/molecules/calendar-picker/">Calendar picker</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/molecules/content-block/">Content block</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/molecules/date-picker/">Date picker</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/molecules/feature/">Feature</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/molecules/feedback/">Feedback</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/molecules/filtering/">Filtering</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/molecules/follow-us/">Follow us</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/molecules/in-page-navigation/">In-page navigation</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/molecules/layout-toggle/">Layout toggle</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/molecules/modal-box/">Modal box</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/molecules/modeless-box/">Modeless box</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/molecules/notifications/">Notifications</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/molecules/social-sharing/">Social sharing</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/molecules/sorting/">Sorting</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/molecules/table/">Table</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/molecules/tabs-and-pivots/">Tabs and pivots</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/molecules/time-picker/">Time picker</a>
                    </li>
                </ul>
            </li>
            <li>
                <span class="nav-collection-lvl accordion ">Organisms</span>
                <ul class="nav-list is-collapsed" style="">
                    <li>
                        <a class="nav-document-lvl " href="/components/organisms/cards/">Cards</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/organisms/gallery/">Gallery</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/organisms/heroes/">Heroes</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/organisms/mosaics/">Mosaics</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/organisms/slider/">Slider</a>
                    </li>
                    <li>
                        <a class="nav-document-lvl " href="/components/organisms/video-player/">Video player</a>
                    </li>
                </ul>
            </li>
        </ul>                
    </li>
    <li>
        <a class="nav-page-lvl-1 " href="/developer/index.html">Developer</a>
    </li>
</ul>
</nav>